#map {
    width: 100%;
    height: 100px;
    min-height: 568px;
}

#switchView {
    position: absolute;
    left: 50%;
    margin-left: -105px;
    top: 10px;
    opacity: 0.85;
    z-index: 9999;
}

#switchView button {
    border: none;
    padding: 2px 8px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

#DDD {
    position: absolute;
    right: 50px;
    top: 10px;
    z-index: 9999;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

#DDD button {
    /* background-color: grey; */
    border: none;
    padding: 2px 8px;
    opacity: 0.85;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

#searchButton.btn-primary {
    /* background-color: #184C78; */
    color: #fff;
    height: 40px;
    width: 40px;
    background-image: url('../img/icons/magnifying_glass.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0;
    border: none;
}

#searchButton.btn-primary.off {
    background-image: url('../img/icons/magnifying_glass_off.svg');
}


/* #searchButton:hover {
    background-color: #184C78;
} */

.mapboxgl-popup-content {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    padding: 0;
    min-width: 150px;
    box-shadow: 2px 1px 1px #d42e2e;
    max-width: 150px;
}

.mapboxgl-popup-content img {
    height: 150px;
    width: 150px;
}

.mapboxgl-popup-content h1 {
    background: #d42e2e;
    color: #fff;
    margin: 0;
    display: block;
    border-radius: 3px 3px 0 0;
    padding: 10px 10px 10px 10px;
    font-weight: 400;
    font-size: 15px;
    opacity: 0.8;
}

.mapboxgl-popup-content p {
    font-size: 12px;
    margin: 5px 5px 2px;
    line-height: normal;
}

.mapboxgl-popup-content a {
    font-size: 12px;
    margin: 5px;
    color: #387ABD;
}

.easy-autocomplete input {
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #184C78;
    float: none;
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    height: 40px !important;
}


/* .easy-autocomplete input:focus,
.easy-autocomplete textarea:focus {
    border: 1px solid #184C78 !important;
    box-shadow: 0 0 3px #184C78 !important;
    -moz-box-shadow: 0 0 3px #184C78 !important;
    -webkit-box-shadow: 0 0 3px #184C78 !important;
} */

input:focus,
textarea:focus,
select:focus {
    outline-offset: 0px !important;
    outline: none !important;
}

.collapse .nav-second-level li.active .square.active {
    background-image: url('https://cdn.jsdelivr.net/gh/salahelfarissi/interactive-iav-campus-map@master/assets/img/popup/active.png');
    background-color: #fff;
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0 !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.nav li a .section-name {
    padding-left: 2px;
    font-size: 10pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.nav li a i {
    height: 20px;
    top: auto;
    position: absolute;
}

.nav li a {
    padding-left: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
    padding-top: 6px;
    padding-bottom: 6px;
}