$primaryColor: #005C53;
$secondaryColor: #03A696;
#map {
    height: auto;
}

#switchView {
    position: absolute;
    left: 40%;
    margin-left: -105px;
    top: 10px;
    opacity: 0.85;
    z-index: 9999;
    button {
        border: none;
        background-color: $primaryColor;
        font-size: 12px;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
    }
}

#DDD {
    position: absolute;
    right: 50px;
    top: 10px;
    z-index: 9999;
    font-weight: 700;
    button {
        background-color: $primaryColor;
        border: none;
        opacity: 0.85;
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
    }
}

#searchButton.btn-primary {
    color: #fff;
    height: 40px;
    width: 40px;
    background-image: url('../img/icons/magnifying_glass.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-color: $primaryColor;
    padding: 0;
    border: none;
}

#searchButton.btn-primary.off {
    background-image: url('../img/icons/magnifying_glass_off.svg');
}

.sidebar-remove-filters button {
    background-color: $primaryColor;
}

.mapboxgl-popup-content {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    padding: 0;
    min-width: 150px;
    max-width: 150px;
}

.mapboxgl-popup-content img {
    height: 150px;
    width: 150px;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.mapboxgl-popup-content h1 {
    background: $primaryColor;
    color: #fff;
    margin: 0;
    display: block;
    border-radius: 3px 3px 0 0;
    padding: 10px 10px 10px 10px;
    font-weight: 600;
    font-size: 15px;
    opacity: 0.8;
}

.mapboxgl-popup-content p {
    font-size: 12px;
    margin: 5px 5px 2px;
    line-height: normal;
}

.mapboxgl-popup-content a {
    font-size: 12px;
    margin: 5px;
    color: #387ABD;
}

.easy-autocomplete input {
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #184C78;
    float: none;
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    height: 40px !important;
    width: 15rem !important;
}

input:focus,
textarea:focus,
select:focus {
    outline: none !important;
}

.fa-solid {
    font-size: 20px;
    float: left;
    width: 30px;
    vertical-align: middle;
    text-align: center;
    height: 20px;
    top: auto;
    left: 0px;
    position: absolute;
    margin-right: 10px;
}

.square {
    background-image: url('../img/popup/empty.png');
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: 16px center;
}

.square.active {
    background-image: url('../img/popup/filled.png');
    background-color: #f4f5f5;
}

.nav-second-level li.active .square.active {
    background-image: url('../img/popup/filled.png');
    background-color: #fff;
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: 16px center;
}

li img {
    height: 15px;
    position: absolute;
    left: 15px;
    top: 0px;
    z-index: 1;
    bottom: 0;
    padding: 0;
    margin: 0;
}

a img {
    height: 15px;
    position: left;
    left: 5px;
    top: 20px;
    z-index: 1;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-top-color: $primaryColor;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: $primaryColor;
    opacity: 0.8;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-top-color: $primaryColor;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-top-color: $primaryColor;
}

.sidebar-nav .arrow {
    float: right;
}

.sidebar-nav .fa.arrow:before {
    content: "\f104";
}

.sidebar-nav .active>a>.fa.arrow:before {
    content: "\f107";
}

.mapbox-improve-map {
    display: none;
}

.loader {
    background-color: white;
    cursor: wait;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 999999;
}

#loader-img {
    position: absolute;
    left: 45%;
    top: 45%;
    width: 100px;
    height: 100px;
}

@media only screen and (max-width: 1000px) {
    #switchView {
        margin-left: -35% !important;
    }
}

.leaf {
    background-image: url('../img/icons/radio_off.svg');
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: 25px 50%;
}

.leaf.active {
    background-image: url('../img/icons/radio_on.svg');
}

.badge {
    font-size: .55em !important;
    vertical-align: 120% !important;
}

.navbar-brand img {
    height: 40px !important;
    margin-right: 10px;
    margin-bottom: 5px;
}

.card-body p {
    font-size: small;
}

.card-body footer {
    font-size: small;
}

.sidebar-nav .metismenu a:hover,
.sidebar-nav .metismenu a:focus,
.sidebar-nav .metismenu a:active,
.sidebar-nav .metismenu .mm-active>a {
    color: $secondaryColor;
    text-decoration: none;
}